@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-slate-800);
  background-color: var(--color-slate-50);
}